llm_service/.venv/

llm_service/.env
llm_service/__pycache__/
llm_service/*.pyc
llm_service/*.pyo
llm_service/*.pyd
llm_service/.pytest_cache/
llm_service/chroma_db/
llm_service/llm_service.egg-info/
llm_service/documents.db
llm_service/doc.txt


