llm_service/.venv/

llm_service/.env
llm_service/__pycache__/
llm_service/*.pyc
llm_service/*.pyo
llm_service/*.pyd
llm_service/.pytest_cache/
llm_service/chroma_db/
llm_service/llm_service.egg-info/
llm_service/documents.db
llm_service/doc.txt

core_backend/.venv/
core_backend/.env
core_backend/__pycache__/
core_backend/*.pyc
core_backend/*.pyo
core_backend/*.pyd
core_backend/.pytest_cache/
core_backend/chroma_db/
core_backend/core_backend.egg-info/
core_backend/seed.py



